$base_color: #1976d2;

body {
  margin: 0;
}

.base-wrapper{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.calendar{
  &:hover{
    cursor: pointer;
  }
}

.error-message{
  color: rgb(207, 0, 0);
}

.dates{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.price-field{
  margin-top: 20px;
}

.currency-field{
  margin-top: 20px;
}